<launch>
    <node pkg="project_lidar_on_image" type="project_lidar_on_image_node" name="project_lidar_on_image_node" output="screen">
        <param name="calibration_file" type="string" value="$(find project_lidar_on_image)/data/kitti_left_color.ini"/>
        <param name="transformation_matrix" type="string" value="$(find project_lidar_on_image)/data/transformation_mat.txt"/>
        <remap from="image_raw" to="kitti/camera_color_left/image_raw"/>
        <remap from="velodyne_points" to="kitti/velo/pointcloud"/>
    </node>
</launch>
